<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <canvas id="pizza-canvas"></canvas>

    {% if page.full_width %}

    <div class="site-wrapper">
        {% include navbar.html %}
        {{ content }}
    </div>

    {% else %}

    <div class="container site-wrapper">
        {% include navbar.html %}
        <div class="container mt-4">
            {{ content }}
        </div>
    </div>

    {% endif %}

    {% include footer.html %}
    {% include scripts.html %}
    {% include chatbot.html %}
</body>

</html>